$color-alert: #a53e3e;
$color-sucess: #41a53e;

body {

    font-family: sans-serif;
    font-size: 14px;

    .alert {
        color: $color-alert;
        font-weight: 700;
    }

    .success {
        color: $color-sucess;
        font-weight: 700;
    }

}